.critter-card{
    width:300px;
    height:180px;
}

.critter-image{
    width: 64px;
}

.icon-secondary {
    fill: orange;
}

.card-title{
    padding-top: 0;
}

.critter-button{
    margin-top: 10px !important;
}

.no-margin-top {
    margin-top: 0;
}

.full-height {
    height: 100%;
}

.trim-info {
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.moon-icon {
    margin-right: 16px;
}

.mode-switch {
    margin-right: 0px !important;
    margin-left: 8px !important;
}

.hemisphere{
    margin: auto;
}
.hemisphere-button{
    min-width: 0;
}
.clickCard .md-button {
    padding: 0 !important;
}
.clickCard md-card {
    margin: 1px;
}

span:after{content:" "}